.autoSelect{
  overflow: scroll;
  max-height:250px;
  border:1px solid #cacaca;
}

.autoSelect::-webkit-scrollbar{
  display: none;
}

.noBottomMargin{
    margin:0px!important;
}

.styleList{
  list-style-type:none!important;
  margin:0px 10px;
}

.styleList li {
  margin:10px 0px;
  padding: 0px 2px;
}

.styleList li:hover{
  background-color: #0581C2!important;
  border-radius: 7px!important;
}

.styleList li:hover *{
color:#FFF!important;
}

.styleList li a{
  color:#000;
}
